<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <i class="material-icons">build</i><strong>{{ 'general' | translate }}</strong>
        </div>
        <div class="form-group col-sm-4">
            <label for="productType">{{ 'product_type' | translate }}</label>
            <select class="form-control" id="productType">
              <option>B2B</option>
              <option>Store</option>
            </select>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && modifyGeneralConfiguration()" #f="ngForm" novalidate>
        <div class="card-body">
          <div class="form-group">
            <label for="siteName">{{ 'site_name' | translate }}</label>
            <input id="siteName" class="form-control" placeholder="{{ 'site_name' | translate }}" type="text" name="website_name" placeholder="Enter your company name">
          </div>
          <div class="form-group">
            <label for="siteUrl">{{ 'site_url' | translate }}</label>
            <input type="text" class="form-control" id="siteUrl">
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="useSSL" name="useSSL" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'use_ssl' | translate }}</span>
            </label>
          </div>
          <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="hideProductsNoAlias" name="hideProductsNoAlias" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'hide_products_no_alias' | translate }}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="databaaseInformationsInit" name="databaaseInformationsInit" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'database_informations_initt' | translate }}</span>
                </label>
            </div> 
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="allowOrderZero" name="allowOrderZero" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'allow_order_zero' | translate }}</span>
                </label>
            </div> 
          <div class="form-group">
            <label for="orderMinimumValue">{{ 'order_minimum_value' | translate }}</label>
            <input type="number" class="form-control" id="orderMinimumValue">
          </div>
        <div class="form-group">
            <label for="defaultProductsPerPage">{{ 'default_products_per_page' | translate }}</label>
            <input type="number" class="form-control" id="defaultProductsPerPage">
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="allowComments" name="allowComments" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'allow_comments' | translate }}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="useNettoPrices" name="useNettoPrices" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'use_netto_prices' | translate }}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="moreDetails" name="moreDetails" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'mode_details' | translate }}</span>
            </label>
        </div>  
        <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="morePerformance" name="morePerformance" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'mode_performance' | translate }}</span>
            </label>
        </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success">{{'save' | translate }}</button>
            <button type="reset" class="btn btn-sm btn-danger">Reset</button>
          </div>
        </form>
      </div>
    </div>
</div>