<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">group</i>
            <strong>{{ 'clients' | translate }}</strong>
        </div>
        <div class="card-body">
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'phone' | translate }}</th>
                    <th>{{ 'company_name' | translate }}</th>
                    <th>{{ 'notes' | translate }}</th>
                    <th>{{ 'discount' | translate }}</th>
                    <th>{{ 'subiekt_symbol' | translate}}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>hero@hero.com</td>
                    <td>Hero hero </td>
                    <td>12392928</td>
                    <td>HERO</td>
                    <td>-</td>
                    <td>0.00</td>
                    <td>hero</td>
                    <td class="center actions">
                        <button type="submit" class="btn btn-sm btn-primary">{{ 'description_for_client' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-success">{{ 'change_password' | translate }}</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>