<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">store_mall_directory</i>
            <strong>{{ 'stocks' | translate }}</strong>
        </div>
        <div class="card-body">
            <a type="submit" class="btn btn-sm btn-success" [routerLink]="['/admin/sale/modify-stock']">{{ 'add_new_stock' | translate }}</a>
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'description' | translate }}</th>
                    <th>{{ 'main' | translate }}</th>
                    <th>{{ 'external' | translate }}</th>
                    <th>{{ 'skip_synch' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HERO</td>
                    <td>hero</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="center actions">
                        <a class="btn btn-sm btn-primary" [routerLink]="['/admin/sale/modify-stock', 1]">{{ 'edit' | translate }}</a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>