<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                <i class="material-icons">menu</i>
                <strong>Menu</strong>
            </div>
            <div class="card-body">
                <a class="btn btn-sm btn-success" routerLink="/admin/content-management/add-menu">{{ 'menu_add' | translate }}</a>
                <table class="table mdl-data-table">
                    <thead>
                        <tr>
                            <th>Nazwa menu</th>
                            <th>URL</th>
                            <th class="center"><i class="material-icons">details</i></th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>hero menu <span class="data_property">{{ 'name' | translate }}</span></td>
                        <td>/hero.html <span class="data_property">link</span></td>
                        <td class="center actions">
                            <a class="btn btn-sm btn-primary" [routerLink]="['/admin/content-management/edit-menu', 1]"n>{{ 'edit' | translate }}</a>
                            <button class="btn btn-sm btn-primary">Ukryj</button>
                            <button class="btn btn-sm btn-danger">Usun</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>