<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">money_off</i>
            <strong>{{ 'promo_codes' | translate }}</strong>
        </div>
        <div class="card-body">
            <a type="submit" class="btn btn-sm btn-success" routerLink="/admin/sale/modify-code">{{ 'add_promo_code' | translate }}</a>
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'date_added' | translate }}</th>
                    <th>{{ 'promotion_name' | translate }}</th>
                    <th>{{ 'discount' | translate }}</th>
                    <th>{{ 'active' | translate }}</th>
                    <th>{{ 'unique_codes' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0.0.0.0</td>
                    <td>Hero hero </td>
                    <td>0.00</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="center actions">
                        <button class="btn btn-sm btn-primary">{{ 'download_codes' | translate }}</button>
                        <a class="btn btn-sm btn-primary" [routerLink]="['/admin/sale/modify-code', 1]">{{ 'edit' | translate }}</a>
                        <button class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>