<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">account_box</i>
                <strong>{{ 'entity_data' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyContact()" #f="ngForm" novalidate>
            <div class="card-body">
                <div class="form-group">
                    <label for="entityName">{{ 'entity_name' | translate }}</label>
                    <input id="entityName" class="form-control" type="text" name="entityName">
                </div>
                <div class="form-group">
                    <label for="streetWithNumber">{{ 'street_with_number' | translate }}</label>
                    <input type="text" class="form-control" id="streetWithNumber" name="streetWithNumber">
                </div>
                <div class="form-group">
                    <label for="postalCode">{{ 'postal_code' | translate }}</label>
                    <input type="text" class="form-control" id="postalCode" name="postalCode">
                </div>
                <div class="form-group">
                    <label for="city">{{ 'city' | translate }}</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group">
                    <label for="bank">Bank</label>
                    <input type="text" class="form-control" id="bank" name="bank">
                </div>
                <div class="form-group">
                    <label for="phone">{{ 'phone' | translate }}</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="phone2">{{ 'phone2' | translate }}</label>
                    <input type="text" class="form-control" id="phone2" name="phone2">
                </div>
                <div class="form-group">
                    <label for="nip">NIP</label>
                    <input type="number" class="form-control" id="nip" name="nip">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
                <button type="reset" class="btn btn-sm btn-danger">Reset</button>
              </div>
            </form>
          </div>
        </div>
    </div>