
<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">note_add</i><strong>{{ 'add' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyElementContent()" #f="ngForm" novalidate>
            <div class="card-body">
                    <strong>{{'content' | translate }}</strong>
                    <ckeditor name="content" 
                    [ngModel]="siteElement?.content" (ngModelChange)="siteElement.content=$event">
                        <ckbutton [name]="'saveButton'"
                        [command]="'saveCmd'"
                        [label]="'Save Document'"
                        [toolbar]="'clipboard,1'">
                    </ckbutton>
                    </ckeditor>
                    <div class="form-group">
                        <label for="title">{{ 'title' | translate }}</label>
                        <input class="form-control" type="text" name="title" #title required [ngModel]="siteElement?.title" (ngModelChange)="siteElement.title=$event">
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
                <a routerLink="/admin/content-management/site-elements" class="btn btn-sm btn-danger">{{ 'cancel' | translate }}</a>
              </div>
            </form>
          </div>
        </div>
    </div>