<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">account_circle</i><strong>{{ 'trader' | translate }}</strong>
            </div>
            <form name="form" novalidate>
            <div class="card-body">
              <div class="form-group">
                <label for="firstName">{{ 'first_name' | translate }}</label>
                <input id="firstName" class="form-control" type="text" name="name" #name [ngModel]="trader?.name">
              </div>
              <div class="form-group">
                <label for="surname">{{ 'surname' | translate }}</label>
                <input class="form-control" type="text" name="surname" #surname [ngModel]="trader?.surname">
              </div>           
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" #email [ngModel]="trader?.email">
              </div>
            <div class="form-group">
                <label for="phone">{{ 'phone' | translate}}</label>
                <input class="form-control" type="number" name="phone" #phone [ngModel]="trader?.phone">
            </div>
            <div class="form-group">
                <label for="password">{{ 'password' | translate }}</label>
                <input class="form-control" type="text" name="password" #password [ngModel]="trader?.password">
            </div>
            <div class="form-group">
                <label for="phone">{{ 'confirm_password' | translate }}</label>
                <input class="form-control" type="number" name="phone" #phone [ngModel]="trader?.phone">
            </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> {{ 'save' | translate }}</button>
                <a routerLink="/admin/sale/traders" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'cancel' | translate }}</a>
            </div>
            </form>
          </div>
        </div>
    </div>