<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                <i class="material-icons">tab_unselected</i>
                <strong>{{ 'site_elements' | translate }}</strong>
            </div>
            <div class="card-body">
                    <a class="btn btn-sm btn-success" routerLink="/admin/content-management/add-site-element">{{ 'add_new_site_element' | translate }}</a>
                <table class="table mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'title' | translate }}</th>
                        <th> {{ 'modification_date' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero <span class="data_property">{{ 'title' | translate }}</span></td>
                        <td>0.0.0.0 <span class="data_property">{{ 'modification_date' | translate }}</span></td>
                        <td class="center actions">
                            <a class="btn btn-sm btn-primary" [routerLink]="['/admin/content-management/edit-site-element', 1]">{{ 'edit' | translate }}</a>
                            <button class="btn btn-sm btn-warning">{{ 'hide' | translate }}</button>
                            <button class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                            <button class="btn btn-sm">{{ 'preview' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>