<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">email</i>
            <strong>Newsletter</strong>
        </div>
        <div class="card-body">
            <a class="btn btn-sm btn-success" [routerLink]="['/admin/tools/modify-newsletter']">{{ 'add_newsletter' | translate }}</a>
            <a class="btn btn-sm btn-primary" routerLink="/admin/tools/newsletter-addresses">{{ 'customers_list' | translate }}</a>
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'subject' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>HERO</td>
                        <td>hero</td>>
                        <td class="center actions">
                            <a [routerLink]="['/admin/tools/modify-newsletter', 1]" class="btn btn-sm btn-success">{{ 'send' | translate }}</a>
                            <a [routerLink]="['/admin/tools/modify-newsletter', 1]" class="btn btn-sm btn-primary">{{ 'edit' | translate }}</a>
                            <button type="submit" class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>