    <div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">import_contacts</i>
            <strong>{{ 'price_list' | translate }}</strong>
        </div>
        <div class="card-body">
            <a type="submit" class="btn btn-sm btn-success" routerLink="/admin/configuration/modify-price-list">{{ 'add_new_price_list' | translate }}</a>
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'currency' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Detaliczna</td>
                        <td>PLN</td>
                        <td class="center actions">
                            <button type="submit" class="btn btn-sm btn-primary">{{ 'edit' | translate }}</button>
                            <button type="submit" class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>