<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">cached</i>
            <strong>{{ 'complaints' | translate }}</strong>
        </div>
        <div class="card-body">
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'complaint_no' | translate }}</th>
                    <th>{{ 'complaint_accepted' | translate }}</th>
                    <th>{{ 'client_name' | translate }}</th>
                    <th>Status</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>0.0.0.0</td>
                    <td>hero</td>
                    <td>Przyjeta</td>
                    <td class="center">
                        <button class="btn btn-sm btn-primary">{{'update' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>