<header class="client_header">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" routerLink="/admin/dashboard">
            <img src="../../../assets/images/angular_logo.png" width="40" height="40" alt="angular">
        </a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            <button class="sidebar_toggler" type="button" appSidebarToggler>
                    <i class="material-icons">list</i>
            </button>
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex navbar_right">                
                    <li class="nav-item mail_news">
                        <a routerLink="/admin/news">
                            <i class="material-icons">mail_outline</i>
                        </a>
                        <span class="unread_news_count">3</span>
                    </li>
                    <li class="nav-item">
                            <a href dropdownToggle (click)="false">
                                <i class="material-icons">person</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-toggle" aria-labelledby="simple-dropdown">                   
                                <div class="dropdown-header text-center"><strong>Account</strong></div>                     
                                <a class="dropdown-item">Profile</a>
                                <div class="dropdown-header text-center"><strong>Settings</strong></div>                      
                                <a class="dropdown-item">Setting</a>
                            </div>
                    </li>
                    <li class="nav-item">
                        <a (click)="logout()"><i class="material-icons hover">power_settings_new</i></a>
                    </li>
                  </ul>
        </div>
    </nav>
</header>
