<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                    <div class="settings-info-actions">
                            <button class="btn btn-success" (click)="saveSettings()">{{ 'save' | translate }}</button>
                            <button (click)="toggleGroup('pulpit')" class="btn btn-outline-secondary">{{ 'dashboard' | translate }}</button>
                            <button (click)="toggleGroup('menu')" class="btn btn-outline-secondary">Menu</button>
                            <button (click)="toggleGroup('lista-produktow')" class="btn btn-outline-secondary">{{ 'products_list' | translate }}</button>
                            <button (click)="toggleAll()" class="btn btn-outline-secondary" mdTooltip="{{ 'show_hide_settings' | translate }}"><i class="material-icons" #toggleAllSettings>visibility_off</i></button>
                        </div>
            </div>
            <div class="card-body">
    
                <div class="card single-set" [ngClass]="set.group" *ngFor="let set of settings">
                    <div class="card-header description">
                            <span class="description">{{set.short_description}}</span>:
                    </div>
                        <div class="card-body">
                                <p>{{set.description}}</p>
                                <div class="form-group">
                                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" *ngIf="set.type == 'boolean'">
                                            <input type="checkbox" (change)="updateSettings(set, $event.checked)" class="custom-control-input" [checked]="set.value == 'on' ? 1 : 0">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description"></span>
                                        </label>
                                        <input *ngIf="set.type == 'html'" type="text" class="form-control" name="{{set.key}}" value="{{set.value}}" (change)="updateSettings(set, $event.target.value)">
                                    </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </div>