<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">import_contacts</i>
                <strong>{{ 'price_list' | translate }}</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">{{ 'name' | translate }}</label>
                    <input class="form-control" type="text" [ngModel]="priceList?.name" name="name" id="name">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>{{ 'save' | translate }}</button>
                <a routerLink="/admin/configuration/price-lists" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'cancel' | translate }}</a>
              </div>
          </div>
        </div>
    </div>