// image-preview
.product-image-preview{
    width: 200px;
    cursor: zoom-in;
}

.image-preview-wrapper{
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    .image-holder{
        margin: 0 auto;
        position: relative;
    }
    .close{
        display: block;
        position: absolute;
        right: 0;
        top: -25px;
        color: #fff;
        right: 0;
        font-size: 25px;
        cursor: pointer;
    }
    .download{
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: -25px;
        right: 0;
    }
    .navigate-prev{
        color: #fff;
        position: absolute;
        left: -10%;
        user-select: none;
        top: 50%;
        margin-right: 50px;
        cursor: pointer;
        font-size: 55px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .navigate-next{
        color: #fff;
        position: absolute;
        right: -10%;
        top: 50%;
        user-select: none;
        margin-left: 50px;
        cursor: pointer;
        font-size: 55px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .image-name{
        color: #fff;
        position: absolute;
        bottom: -30px;
        font-size: 14px;
    }
}

/* Add Animation */
.image-preview-wrapper, .image-holder {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}