<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <i class="material-icons">money_off</i><strong>{{ 'promotion_code' | translate }}</strong>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && modifyPromotionCode()" #f="ngForm" novalidate>
        <div class="card-body">
          <div class="form-group">
            <label for="campainName">{{ 'campain_name' | translate }}</label>
            <input id="campainName" class="form-control" type="text" name="campainName" #campainName required [ngModel]="promotionCode?.campainName">
          </div>
          <div class="form-group">
            <label for="promotionCode">{{ 'code' | translate }}</label>
            <input class="form-control" type="text" name="code" #code required [ngModel]="promotionCode?.code">
          </div>
          <div class="form-group">
                <label for="productsCodes">{{ 'promo_products_code' | translate }}</label>
                <input id="productsCodes" class="form-control" type="text" name="productsCodes" #productsCodes [ngModel]="promotionCode?.productsCodes">
          </div>
          <div class="form-group">
                <label for="manufacturersSymbols">{{ 'manufacturer_symbols' | translate }}</label>
                <input class="form-control" type="text" name="manufacturersSymbols" #manufacturersSymbols [ngModel]="promotionCode?.manufacturersSymbols">
            </div>
        <div class="form-group">
            <label for="discount">{{ 'discount' | translate }}</label>
            <input class="form-control" type="number" name="discount" #discount [ngModel]="promotionCode?.discount">
        </div>
        <div class="form-group">
            <label for="usedCount">{{ 'promotion_how_many_times' | translate }}</label>
            <input class="form-control" type="number" name="usedCount" #usedCount [ngModel]="promotionCode?.usedCount">
        </div>
        <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="active" name="active" class="custom-control-input" [ngModel]="promotionCode?.active">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'active' | translate }}</span>
                </label>
            </div>      
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
      </div>
    </div>
</div>