body, main{
    /*background-color: #1f202f;*/
    /*background-color: #272d4e;*/
}

.mat-toolbar{
    background-color: #272d4e !important;
    border-bottom: 1px solid #fff;
}

.mat-input-placeholder.mat-float{
    color: #fff;
}

.mat-raised-button{
    background-color: #ecdd29 !important;
    color: #000;
}

.mat-raised-button span{
    color: #272d4e;
}

.dialog-message-content span,
.dialog-message-content p{
    color: #000;
}

#side-menu{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #272d4e;
}

.mdl-data-table a {
    color: #000;
}

#side-menu a, .mat-toolbar a, .mat-toolbar i, .mat-toolbar span{
    color: #fff;
}

.dialog-message-content span,
.dialog-message-content p{
    color: #000;
}

h2,h2,h4,h5,h6, span, label{
    color: #000;
}

.mat-input-placeholder.mat-empty{
    color: #000;
}

#cart-items{
    background-color: #272d4e;
    color: #fff;
}