
<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">note_add</i><strong>{{ 'static_page_add' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyStaticPage()" #f="ngForm" novalidate>
            <div class="card-body">
                    <strong>{{'content' | translate }}</strong>
                    <ckeditor name="content" 
                    [ngModel]="staticPage?.content" (ngModelChange)="staticPage.content=$event">
                        <ckbutton [name]="'saveButton'"
                            [command]="'saveCmd'"
                            [label]="'Save Document'"
                            [toolbar]="'clipboard,1'">
                        </ckbutton>
                    </ckeditor>
                    <div class="form-group">
                        <label for="title">{{ 'title' | translate }}</label>
                        <input class="form-control"  type="text" name="title" #title required [ngModel]="staticPage?.title" (ngModelChange)="staticPage.title=$event">
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>{{ 'save' | translate }}</button>
                <a routerLink="/admin/content-management/static-pages" class="btn btn-sm btn-danger">{{ 'cancel' | translate }}</a>
              </div>
            </form>
          </div>
        </div>
</div>