<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <i class="material-icons">tonality</i><strong>Alias</strong>
        </div>
        <form name="form" novalidate>
        <div class="card-body">
                <div class="form-group">
                    <label for="symbol">Symbol</label>
                    <input class="form-control" placeholder="Symbol" type="text" id="symbol" name="symbol" #symbol required [ngModel]="productAlias?.symbol">
                </div>
                <div class="form-group">
                    <label for="category">{{ 'category' | translate }}</label>
                    <input class="form-control" placeholder="{{ 'category' | translate }}" type="text" name="category" #category [ngModel]="productAlias?.category">
                </div>
                <div class="form-group">
                    <label for="name">{{ 'name' | translate }}</label>
                    <input class="form-control" type="text" name="name" #name required [ngModel]="productAlias?.name">
                </div>
                <div class="form-group">
                    <label for="description">{{ 'description' | translate }}</label>
                    <input class="form-control" type="text" name="description" id="description" #description [ngModel]="productAlias?.description">
                </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
            <a routerLink="/admin/sale/product-aliases" class="btn btn-sm btn-danger">{{ 'cancel' | translate }}</a>
          </div>
        </form>    
      </div>
    </div>
</div>