<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">contact_mail</i>
                <strong>{{ 'newsletter_settings' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyNewsletter()" #f="ngForm" novalidate>
            <div class="card-body">
              <div class="form-group">
                <label for="smtpName">{{ 'name' | translate }}</label>
                <input id="smtpName" class="form-control" type="text" name="smtpName">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email">
              </div>
              <div class="form-group">
                    <label for="smtpNameIp">{{'smtp_ip_or_server' | translate }}</label>
                    <input id="smtpNameIp" class="form-control" type="text" name="smtpNameIp">
              </div>
              <div class="form-group">
                    <label for="smtpPort">Port</label>
                    <input type="number" class="form-control" id="smtpPort" name="smtpPort">
                </div>
            <div class="form-group">
                <label for="smtpUsername">{{'username' | translate }}</label>
                <input type="text" class="form-control" id="smtpUsername">
            </div>    
            <div class="form-group">
                    <label for="smtpPassword">{{'password' | translate }}</label>
                    <input type="password" class="form-control" id="smtpPassword">
                </div>          
                <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="useSSL" name="useSSL" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'use_ssl' | translate }}</span>
                        </label>
                    </div>   
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
                <button type="reset" class="btn btn-sm btn-danger">Reset</button>
              </div>
            </form>
          </div>
        </div>
    </div>