<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                    <i class="material-icons">account_circle</i>
                    <strong>{{ 'traders' | translate }}</strong>
            </div>
            <div class="card-body">
                <a type="submit" class="btn btn-sm btn-success" routerLink="/admin/sale/modify-trader">{{ 'add_promo_code' | translate }}</a>
                <table class="table mdl-data-table">
                    <thead>
                        <tr>
                            <th>{{ 'surname' | translate }}</th>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'phone' | translate }}</th>
                            <th>E-mail</th>
                            <th>Skype</th>
                            <th class="center"><i class="material-icons">details</i></th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>hero</td>
                        <td>23213212</td>
                        <td>hero@hero.com</td>
                        <td>skajpaj</td>
                        <td class="center actions">
                            <a class="btn btn-sm btn-primary" [routerLink]="['/admin/sale/modify-trader', 1]">{{ 'edit' | translate }}</a>
                            <button class="btn btn-sm btn-danger">{{ 'remove'| translate }}</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>