<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                <i class="material-icons">local_shipping</i>
                <strong>{{ 'shipping_types' | translate }}</strong>
            </div>
            <div class="card-body">
                <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'order_minimum_value' | translate }}</th>
                        <th>{{ 'order_maximum_value' | translate }}</th>
                        <th>{{ 'order_price_brutto_shipping' | translate }}</th>
                        <th class="center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Odbior osobisty</td>
                        <td>0</td>
                        <td>999</td>
                        <td>24,99zl</td>
                        <td class="center actions">
                            <button class="btn btn-sm btn-success">{{ 'payments' | translate }}</button>
                            <button class="btn btn-sm btn-primary">{{ 'edit' | translate }}</button>
                            <button class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                            <button class="btn btn-sm btn-warning">{{ 'set_as_default' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>