<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                    <i class="material-icons">attach_money</i>
                    <strong>{{ 'payments' | translate }}</strong>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary">{{ 'add_new_price_list' | translate }}</a>
                <table class="table mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'description' | translate }}</th>
                        <th class="center">Modul</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ustalenia indywidualne</td>
                        <td>Platnosc 1</td>
                        <td class="center actions">
                            <button type="submit" class="btn btn-sm btn-primary">{{ 'edit' | translate }}</button>
                            <button type="reset" class="btn btn-sm btn-danger">Wylacz</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>