<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <i class="material-icons">money_off</i><strong>{{ 'stock' | translate }}</strong>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && modifyStock()" #f="ngForm" novalidate>
        <div class="card-body">
          <div class="form-group">
            <label for="name">{{ 'stock_name' | translate }}</label>
            <input id="name" class="form-control" type="text" name="name" #name [ngModel]="stock?.name">
          </div>
          <div class="form-group">
            <label for="symbol">Symbol</label>
            <input class="form-control" type="text" name="symbol" #symbol [ngModel]="stock?.symbol">
          </div>
          <div class="form-group">
                <label for="description">{{ 'description' | translate }}</label>
                <input id="description" class="form-control" type="text" name="description" #description [ngModel]="stock?.description">
          </div>
        <div class="form-group">
            <label for="externalStore">External store</label>
            <input class="form-control" type="text" name="externalStore" #externalStore [ngModel]="stock?.externalStore">
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="mainStock" name="mainStock" class="custom-control-input" [ngModel]="stock?.mainStock">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'stock_main' | translate }}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" id="skipSynch" name="skipSynch" class="custom-control-input" [ngModel]="stock?.skipSynch">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ 'skip_synch' | translate }}</span>
            </label>
        </div>           
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
            <button type="reset" class="btn btn-sm btn-danger">Reset</button>
          </div>
        </form>
      </div>
    </div>
</div>