<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">build</i><strong>{{ 'category_sorting' | translate }}</strong>
            </div>
            <form name="form" novalidate>
            <div class="card-body">
              <div class="form-group">
                <label for="category">{{ 'category' | translate }}</label>
                <input id="category" class="form-control" type="number" name="name" #name>
              </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              </div>
            </form>
          </div>
        </div>
</div>