<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="material-icons">mail_outline</i><strong>{{ 'news' | translate }}</strong>
            </div>
            <div class="card-body">
                    <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Lorem ipsum</strong>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <img src="../../../assets/images/angular_logo.png" width="50" alt="mercatum logo">
                                        </div>
                                        <div class="col-lg-11">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima dignissimos quae reiciendis error. Sed qui porro dolores fugit. Perspiciatis dicta at cum eum magni eligendi dolorem facilis nisi pariatur eius.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Lorem ipsum</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <img src="../../../assets/images/angular_logo.png" width="50" alt="mercatum logo">
                                            </div>
                                            <div class="col-lg-11">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima dignissimos quae reiciendis error. Sed qui porro dolores fugit. Perspiciatis dicta at cum eum magni eligendi dolorem facilis nisi pariatur eius.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Lorem ipsum</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-1">
                                                    <img src="../../../assets/images/angular_logo.png" width="50" alt="mercatum logo">
                                                </div>
                                                <div class="col-lg-11">
                                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima dignissimos quae reiciendis error. Sed qui porro dolores fugit. Perspiciatis dicta at cum eum magni eligendi dolorem facilis nisi pariatur eius.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
    </div>
</div>