<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <form name="form" (ngSubmit)="f.form.valid && modifyMenu()" #f="ngForm" novalidate>
                <div class="card-header">
                        <i class="material-icons">note_add</i><strong>{{ 'menu_add' | translate }}</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="title">{{ 'title' | translate }}</label>
                        <input class="form-control" type="text" name="name" #name required [ngModel]="menu?.name" (ngModelChange)="menu.name=$event">
                    </div>
                    <div class="form-group">
                        <label for="title">Link</label>
                        <input class="form-control" type="text" name="link" #link required [ngModel]="menu?.link" (ngModelChange)="menu.link=$event">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>{{ 'save' | translate }}</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'Reset' | translate }}</button>
                </div>
            </form>
          </div>
        </div>
    </div>