<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">history</i>
            <strong>{{ 'orders' | translate }}</strong>
        </div>
        <div class="card-body">
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'order_no' | translate }}</th>
                    <th>{{'order_date' | translate }}</th>
                    <th>{{ 'payment_date' | translate }}</th>
                    <th>{{ 'client_name' | translate }}</th>
                    <th>{{ 'company_name' | translate }}</th>
                    <th>{{ 'order_value' | translate }}</th>
                    <th>Status</th>
                    <th>{{ 'notes' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>0.0.0.0</td>
                    <td>0.0.0.0</td>
                    <td>HERO</td>
                    <td>hero company</td>
                    <td>9.00zl</td>
                    <td>hero</td>
                    <td>hero</td>
                    <td class="center actions">
                        <button type="submit" class="btn btn-sm btn-success">{{ 'update' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-primary">{{ 'print' | translate }}</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>