<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">group</i>
                <strong>{{ 'clients' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyClientsConfig()" #f="ngForm" novalidate>
            <div class="card-body">
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="useInvidualPrices" name="useInvidualPrices" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'use_invidual_prices' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="showDocuments" name="showDocuments" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'show_documents' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="useGroups" name="useGroups" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'use_groups' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="supportOnlyCompany" name="supportOnlyCompany" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'support_only_company' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="requiredClientChangeDataAcceptation" name="requiredClientChangeDataAcceptation" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'required_client_change_data_acceptation' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="blockClientsLogin" name="blockClientsLogin" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'block_clients_login' | translate }}</span>
                    </label>
                </div>              
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
                <button type="reset" class="btn btn-sm btn-danger">Reset</button>
              </div>
            </form>
          </div>
        </div>
    </div>