
<!-- <div class="row">
    <div class="col-lg-6 offset-lg-2">
        <div class="card">
            <div class="card-header">
                    <strong>{{ 'login' | translate }}</strong>
                    <p>username: <b>root</b> | password: <b>root</b></p>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && login(f.value)" #f="ngForm" novalidate>
            <div class="card-body">
                            <div class="form-group">
                                <label for="streetWithNumber">{{ 'username' | translate }}</label>
                                <input type="text" class="form-control" id="username" [(ngModel)]="model.username" #username="ngModel" name="username">
                            </div>
                            <div class="form-group">
                                <label for="streetWithNumber">{{ 'password' | translate }}</label>
                                <input type="text" class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel">
                            </div> 
                            <div class="login_actions">
                                <a routerLink="/password-remind" class="account-remender-link r_link">{{ 'forgot_password' | translate }}</a>
                            </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-6">
                            <div class="additional_links">
                                    <div class="languages">
                                        <a (click)="changeLang('pl')">
                                            <img src="../../../assets/images/languages/pl.png" alt="pl">
                                        </a>
                                        <a (click)="changeLang('en')">
                                            <img src="../../../assets/images/languages/us.png" alt="en">
                                        </a>
                                    </div>
                                </div>
                    </div>
                    <div class="col-lg-6">
                            <button [disabled]="!f.form.valid" class="btn btn btn-success" type="submit" style="float: right;"> {{ 'log_in' | translate }}</button>      
                    </div>
                </div>
            </div>
        </form>
        </div>

    </div>
</div> -->


<div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
            <form name="form" (ngSubmit)="f.form.valid && login(f.value)" #f="ngForm" novalidate>
              <div class="card-body">
                <h1>{{ 'login' | translate }}</h1>
                <hr>
                <p>
                    username: <strong>root</strong> | password <strong>root</strong>
                </p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="material-icons">person</i></span>
                  <input type="text" class="form-control" id="username" value="root" [(ngModel)]="model.username" #username="ngModel" name="username">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="material-icons">lock</i></span>
                  <input type="text" class="form-control" type="password" value="root" name="password" [(ngModel)]="model.password" #password="ngModel">
                </div>
                <div class="row">
                  <div class="col-6">
                        <div class="languages">
                                <a (click)="changeLang('pl')">
                                    <img src="../../../assets/images/languages/pl.png" alt="pl">
                                </a>
                                <a (click)="changeLang('en')">
                                    <img src="../../../assets/images/languages/us.png" alt="en">
                                </a>
                            </div>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-primary px-4" type="submit">Login</button>
                  </div>
                  <a routerLink="/password-remind" class="text-muted">{{'forgot_password' | translate }}</a>
                </div>
              </div>
              </form>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <img src="../../../assets/images/angular_logo.png" width="100">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button class="btn btn-primary active mt-3" type="button">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>