<div>
  
  <router-outlet name="header"></router-outlet>
  
  <div class="app_body sidebar_visible">
      <router-outlet name="sidebar"></router-outlet>
      <main>
        <div class="page-content">
            <router-outlet></router-outlet> 
        </div>
      </main>
  </div>
  </div>
  
   <footer class="mdl-mega-footer">
    <div class="about-info">
      <a href="https://mjprogramming.pl" target="_blank">{{ 'contact' | translate }}</a>
      <!-- <img src="assets/images/mercatum_logo.png" width="40" height="40" alt="mercatum-logo"> -->
     </div>
     <div class="copyright-info">
        <p>Copyright © 2017</p>
     </div>
  </footer>