<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                    <i class="material-icons">loyalty</i>
                    <strong>{{ 'loyalty_program' | translate }}</strong>
            </div>
            <div class="card-body">
                <a class="btn btn-sm btn-success" routerLink="/admin/sale/modify-loyalty">{{ 'add_new_product' | translate }}</a>
                <button class="btn btn-sm btn-primary">{{'loyalty_clients_modify' | translate }}</button>
                <table class="table mdl-data-table">
                    <thead>
                        <tr>
                            <th>{{ 'product_name' | translate }}</th>
                            <th>{{'date_added' | translate }}</th>
                            <th>{{ 'loyalty_points' | translate }}</th>
                            <th>{{ 'active' | translate }}</th>
                            <th class="center"><i class="material-icons">details</i></th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>0.0.0.0</td>
                        <td>999</td>
                        <td>tak</td>
                        <td class="center actions">
                            <a class="btn btn-sm btn-primary" [routerLink]="['/admin/sale/modify-loyalty', 1]">{{'edit' | translate }}</a>
                            <button class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>