<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">store_mall_directory</i>
                <strong>{{ 'stocks' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyStocks()" #f="ngForm" novalidate>
            <div class="card-body">
              <div class="form-group">
                <label for="defaultStock">{{ 'default_stock' | translate }}</label>
                <input id="defaultStock" class="form-control" type="text" name="defaultStock">
              </div>
              <div class="form-group">
                <label for="notificationProductOut">{{ 'notification_product_out' | translate }}</label>
                <input type="text" class="form-control" id="notificationProductOut">
              </div>
              <div class="form-group">
                    <label for="stockResreshTime">{{ 'stock_refresh_time' | translate }}</label>
                    <input id="stockResreshTime" class="form-control" type="number" name="stockResreshTime">
              </div>
              <div class="form-group">
                    <label for="stockPatternAvailabilityPresentation">{{ 'stock_pattern_availability_calculate' | translate }}</label>
                    <input type="text" class="form-control" id="stockPatternAvailabilityPresentation">
                </div>
            <div class="form-group">
                <label for="stockPatterAvailabilityPresentation">{{ 'stock_pattern_availability_presentation' | translate }}</label>
                <input type="text" class="form-control" id="stockPatterAvailabilityPresentation">
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="stockOn" name="stockOn" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'stock_on' | translate }}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="stockExternalOn" name="stockExternalOn" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'stock_external_on' | translate }}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="stockMultiSupport" name="stockMultiSupport" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'stock_multi_support' | translate }}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="stockAllowForReplacements" name="stockAllowForReplacements" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'stock_allow_for_replacements' | translate }}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" id="stockShowTradersActualAvailability" name="stockShowTradersActualAvailability" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'stock_show_traders_actual_availability' | translate }}</span>
                </label>
            </div>           
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> {{ 'save' | translate }}</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
              </div>
            </form>
          </div>
        </div>
    </div>