<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                <i class="material-icons">compare_arrows</i>
                <strong>{{ 'order_statuses' | translate }}</strong>
            </div>
            <div class="card-body">
                <table class="table mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'description' | translate }}</th>
                        <th>{{ 'notifications_email' | translate }}</th>
                        <th>{{ 'order_finals' | translate }}</th>
                        <th class="center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Przyjete do realizacji</td>
                        <td>hero</td>
                        <td>+</td>
                        <td>+</td>
                        <td class="center">
                            <select class="form-control" id="status">
                                <option>Anulowane</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>