<!--<a md-button (click)="hideMenu()" class="mdl-navigation__link" mdTooltip="pokaz/ukryj menu"><i class="material-icons">toc</i></a>-->
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
        <!-- <li class="nav-item open">
            <a class="nav-link" href="main.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
        </li> -->
        <li class="nav-item">     
             <a class="nav-link" routerLink="/admin/dashboard">
                <i class="material-icons">home</i>
                {{ 'dashboard' | translate }}
              </a>       
            </li>
            <li class="nav-item nav-dropdown">
                <a (click)="toggleSubMenu(saleMenu)" toggleMenuChevron class="toggle_menu"><i class="material-icons toggle-menu-chevron">chevron_right</i>{{ 'sale' | translate }}</a>
                <ul class="nav-dropdown-items" #saleMenu class="collapse">
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/clients">
                            <i class="material-icons">group</i>
                            {{ 'clients' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/orders">
                            <i class="material-icons">history</i>
                            {{ 'orders' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/promotion-codes">
                            <i class="material-icons">money_off</i>
                            {{ 'promo_codes' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/modify-product">
                            <i class="material-icons">add_box</i>
                            {{ 'product_add' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/products">
                            <i class="material-icons">collections_bookmark</i>
                            {{ 'products' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/stocks">
                            <i class="material-icons">store_mall_directory</i>
                            {{ 'warehouses' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/product-aliases">
                            <i class="material-icons">tonality</i>
                            {{ 'aliases_of_products' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/categories-sort">
                            <i class="material-icons">sort</i>
                            {{ 'category_sorting' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/traders">
                            <i class="material-icons">account_circle</i>
                            {{ 'traders' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/sale/loyalty">
                            <i class="material-icons">loyalty</i>
                            {{ 'loyalty_program' | translate }}
                        </a>
                    </li>
                </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a (click)="toggleSubMenu(contentManagementMenu)" toggleMenuChevron class="toggle_menu"><i class="material-icons toggle-menu-chevron">chevron_right</i>{{ 'content_management' | translate }}</a>
            <ul class="nav-dropdown-items" #contentManagementMenu class="collapse">
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/content-management/news">
                        <i class="material-icons">assignment</i>
                        {{ 'news' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/content-management/static-pages">
                        <i class="material-icons">insert_drive_file</i>
                        {{ 'static_pages' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/content-management/site-elements">
                        <i class="material-icons">tab_unselected</i>
                        {{ 'site_elements' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/content-management/banners">
                        <i class="material-icons">collections</i>
                        {{ 'banners' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/content-management/menus">
                        <i class="material-icons">menu</i>
                        Menu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/content-management/add-section">
                        <i class="material-icons">insert_drive_file</i>
                        {{ 'section' | translate }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a (click)="toggleSubMenu(generalMenu)" class="toggle_menu" toggleMenuChevron>General<i class="material-icons toggle-menu-chevron">chevron_right</i></a>
            <ul class="nav-dropdown-items" #generalMenu class="collapse">
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/general">
                        <i class="material-icons">build</i>
                        {{ 'general' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/contact">
                        <i class="material-icons">account_box</i>
                        {{ 'contact_details' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/settings">
                        <i class="material-icons">settings</i>
                        {{ 'settings' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/price-lists">
                        <i class="material-icons">import_contacts</i>
                        {{ 'price_list' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/stocks">
                        <i class="material-icons">store_mall_directory</i>
                        {{ 'warehouses' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/clients">
                        <i class="material-icons">group</i>
                        {{ 'clients' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/payments">
                        <i class="material-icons">attach_money</i>
                        {{ 'payments' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/shipping">
                        <i class="material-icons">local_shipping</i>
                        {{ 'shipping_types' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/status">
                        <i class="material-icons">compare_arrows</i>
                        {{ 'order_statuses' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/notifications">
                        <i class="material-icons">sms</i>
                        {{ 'notifications' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/email">
                        <i class="material-icons">email</i>
                        {{ 'email_settings' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/newsletter">
                        <i class="material-icons">contact_mail</i>
                        {{ 'newsletter_settings' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/configuration/eventlog">
                        <i class="material-icons">find_in_page</i>
                        {{ 'event_log' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" navLinkActive routerLink="/admin/settings">
                        <i class="material-icons">insert_drive_file</i>
                        {{ 'diagnostic_file' | translate }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
                <a (click)="toggleSubMenu(toolsMenu)" toggleMenuChevron class="toggle_menu"><i class="material-icons toggle-menu-chevron">chevron_right</i>{{ 'tools' | translate }}</a>
                <ul class="nav-dropdown-items" #toolsMenu class="collapse">
                    <li class="nav-item">
                            <a class="nav-link" navLinkActive routerLink="/admin/settings">
                                <i class="material-icons">tab_unselected</i>
                                SEO
                            </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" navLinkActive routerLink="/admin/settings">
                                <i class="material-icons">exit_to_app</i>
                                Exporter
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/tools/complaints">
                            <i class="material-icons">cached</i>
                            {{ 'complaints' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" navLinkActive routerLink="/admin/tools/newsletter">
                            <i class="material-icons">email</i>
                            Newsletter
                        </a>
                    </li>
                </ul>
        </li>
        </ul>
    </nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>