<form name="form">
<div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <strong>Dodawanie produktu</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">{{ 'name' | translate }}</label>
                    <input class="form-control" type="text" id="name" name="name" #name required [ngModel]="product?.name">
                </div>
                <div class="form-group">
                    <label for="symbol">Symbol</label>
                    <input class="form-control"  type="text" name="symbol" #symbol [ngModel]="product?.symbol">
                </div>
                <div class="form-group">
                    <label for="unitName">{{ 'u_m' | translate }}</label>
                    <input class="form-control" type="text" id="unitName" name="unitName" #unitName [ngModel]="product?.unitName">
                </div>
                <div class="form-group">
                    <label for="vat">VAT</label>
                    <input class="form-control" type="number" min="0" max="100" name="vat" #vat>
                </div>
                <div class="form-group">
                    <label for="retailPrice">{{ 'retail_price' | translate }}</label>
                    <input class="form-control" type="number" id="retailPrice" name="retailPrice" #retailPrice [ngModel]="product?.retailPrice">
                </div>
                <div class="form-group">
                    <label for="priceNetto">{{ 'netto_price' | translate }}</label>
                    <input class="form-control" type="number" id="priceNetto" name="priceNetto" #priceNetto [ngModel]="product?.priceNetto">
                </div>
                <div class="form-group">
                    <label for="priceBrutto">{{ 'brutto_price' | translate }}</label>
                    <input class="form-control" type="number" id="priceBrutto" name="priceBrutto" #priceBrutto [ngModel]="product?.priceBrutto">
                </div>
                <div class="form-group">
                    <label for="discount">{{ 'discount' | translate }}</label>
                    <input class="form-control" type="number" id="discount" name="discount" #discount [ngModel]="product?.discount">
                </div>
                <div class="form-group">
                    <label for="availability">{{ 'availability' | translate }}</label>
                    <input class="form-control" type="number" id="availability" name="availability" #availability [ngModel]="product?.availability">
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="isAvailable" name="isAvailable" class="custom-control-input" [ngModel]="product?.isAvailable">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{'availability_product' | translate }}</span>
                    </label>
                </div> 
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <strong>Dodawanie produktu</strong>
            </div>
            <div class="card-body">
                <div class="product_statuses">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="sale" name="sale" class="custom-control-input" [ngModel]="product?.sale">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'sale' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="pnew" name="pnew" class="custom-control-input" [ngModel]="product?.pnew">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'new' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="promo" name="promo" class="custom-control-input" [ngModel]="product?.promo">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'promotion' | translate }}</span>
                        </label>
                    </div>  
                </div>
                <div class="image">
                    <strong>{{'image' | translate }}</strong>
                        <img id="main_image_preview" />
                    <input type="file" onchange="document.getElementById('main_image_preview').src = window.URL.createObjectURL(this.files[0])" accept="image/x-png,image/gif,image/jpeg" name="image" #image ngModel>
                </div><br>
                <div class="images">
                    <strong>{{ 'images' | translate }}</strong>
                    <ul #imagesPreview></ul>
                    <input type="file" multiple (change)="uploadImagesPreview(imagesPreview, images)" name="images" accept="image/x-png,image/gif,image/jpeg" #images>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success">{{ 'save' | translate }}</button>
                <button type="reset" class="btn btn-sm btn-danger">Reset</button>
            </div>
          </div>
        </div>
</div>
</form>