<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">sms</i>
                <strong>{{ 'notifications' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyNotifications()" #f="ngForm" novalidate>
            <div class="card-body">
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationOrderChange" name="notificationOrderChange" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notification_order_change' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationOrderSynch" name="notificationOrderSynch" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notification_order_synch' | translate }}</span>
                    </label>
                </div>  
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationClientRegister" name="notificationClientRegister" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notifaction_client_register' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationStoreRegister" name="notificationStoreRegister" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notification_store_register' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationUpdateProfile" name="notificationUpdateProfile" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notification_update_profile' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationFavPdf" name="notificationFavPdf" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notification_fav_pdf' | translate }}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" id="notificationFavPdf" name="notificationFavPdf" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'notification_fav_xml' | translate }}</span>
                    </label>
                </div>         
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success">Submit</button>
                <button type="reset" class="btn btn-sm btn-danger">Reset</button>
              </div>
            </form>
          </div>
        </div>
    </div>