<div class="row">
    <div class="col-lg-6 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'remind_password' | translate }}</strong>
            </div>
            <form>
            <div class="card-body">
                <div class="form-group">
                        <label for="title">Email</label>
                        <input class="form-control" placeholder="Email" type="text" name="email" #email>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" [disabled]=[!email.value]>{{ 'remind_password' | translate }}</button>
                <a class="btn btn-danger" routerLink="/login">{{ 'back' | translate }}</a>
            </div>
            </form>
        </div>
    </div>
</div>