// common styles
th.sort{
    @include cursor-pointer;
}

.btn,
.hover,
.page-item,
.custom-checkbox{
    @include cursor-pointer;
}

button[disabled]{
    cursor: not-allowed !important;
}

a.text-muted{
    text-decoration: none;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.card-header strong{
    margin-left: 5px;
}