
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            <i class="material-icons">note_add</i><strong>{{ 'add' | translate }}</strong>
        </div>
        <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && modifyNewsletter()" #f="ngForm" novalidate>
                <strong>{{'content' | translate }}</strong>
                <!-- <ckeditor name="content" 
                        [ngModel]="newsletter?.content" (ngModelChange)="newsletter.content=$event">
                            <ckbutton [name]="'saveButton'"
                            [command]="'saveCmd'"
                            (click)="save($event)"
                            [label]="'Save Document'"
                            [toolbar]="'clipboard,1'">
                        </ckbutton>
                </ckeditor> -->
                <ckeditor name="content" 
                    [ngModel]="newsletter?.content" (ngModelChange)="newsletter.content=$event">
                        <ckbutton [name]="'saveButton'"
                        [command]="'saveCmd'"
                        [label]="'Save Document'"
                        [toolbar]="'clipboard,1'">
                    </ckbutton>
                </ckeditor>
                <div class="form-group">
                    <label for="title">{{ 'name' | translate }}</label>
                    <input class="form-control"  type="text" name="name" #name required [ngModel]="newsletter?.name">
                </div>
                <div class="form-group">
                    <label for="title">{{ 'subject' | translate }}</label>
                    <input class="form-control" type="text" name="subject" #subject [ngModel]="newsletter?.subject">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>{{ 'save' | translate }}</button>
            <a routerLink="/admin/tools/newsletter" class="btn btn-sm btn-danger">{{ 'cancel' | translate }}</a>
          </div>
      </div>
    </div>
</div>