
<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">note_add</i><strong>{{ 'add' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyLoyalty()" #f="ngForm" novalidate>
            <div class="card-body">
                    <strong>{{'content' | translate }}</strong>
                    <ckeditor name="content" 
                        [ngModel]="loyalty?.content" (ngModelChange)="loyalty.content=$event">
                            <ckbutton [name]="'saveButton'"
                            [command]="'saveCmd'"
                            [label]="'Save Document'"
                            [toolbar]="'clipboard,1'">
                        </ckbutton>
                     </ckeditor>
                    <div class="form-group">
                        <label for="title">{{ 'name' | translate }}</label>
                        <input class="form-control" type="text" name="name" #name required [ngModel]="loyalty?.name">
                    </div>
                    <div class="form-group">
                        <label for="title">{{ 'points' | translate }}</label>
                        <input class="form-control" type="number" name="points" #points [ngModel]="loyalty?.points">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="visible" name="visible" class="custom-control-input" [ngModel]="loyalty?.visible">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'active' | translate}}</span>
                        </label>
                    </div>  
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>{{ 'save' | translate }}</button>
                <a routerLink="/admin/sale/loyalty" class="btn btn-sm btn-danger">{{ 'cancel' | translate }}</a>
              </div>
            </form>
          </div>
        </div>
    </div>