<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">email</i>
            <strong>Newsletter</strong>
        </div>
        <div class="card-body">
            <a class="btn btn-sm btn-primary" routerLink="/admin/tools/newsletter">{{ 'back' | translate }}</a>
            <table class="table mdl-data-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>{{ 'registration_date' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HERO</td>
                    <td>hero</td>
                    <td class="center actions">
                        <button type="submit" class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>