
<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
                <i class="material-icons">note_add</i><strong>{{ 'add_new_section' | translate }}</strong>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifySection()" #f="ngForm" novalidate>
            <div class="card-body">
                    <strong>{{'content' | translate }}</strong>
                        <ckeditor name="content" 
                        [ngModel]="section?.content" (ngModelChange)="section.content=$event">
                            <ckbutton [name]="'saveButton'"
                            [command]="'saveCmd'"
                            [label]="'Save Document'"
                            [toolbar]="'clipboard,1'">
                        </ckbutton>
                    </ckeditor>
                    <div class="form-group">
                        <label for="name">{{ 'title' | translate }}</label>
                        <input class="form-control" type="text" name="name" #name required [ngModel]="section?.name" (ngModelChange)="section.name=$event">
                    </div>
                    <div class="form-group">
                        <label for="name_in_menu">{{ 'name_in_menu' | translate }}</label>
                        <input class="form-control" type="text" name="menu" #menu [ngModel]="section?.menu" (ngModelChange)="section.menu=$event">
                    </div>
                    <div class="form-group">
                        <label for="name_in_menu">Slug</label>
                        <input class="form-control" type="text" name="slug" #menu [ngModel]="section?.slug" (ngModelChange)="section.slug=$event">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="sectionHasDescription" name="sectionHasDescription" class="custom-control-input" [ngModel]="section?.description">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'section_has_description' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="metaTags" name="metaTags" class="custom-control-input" [ngModel]="section?.metaTags">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'section_has_metatags' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="url" name="url" class="custom-control-input" [ngModel]="section?.url">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'section_has_url' | translate }}</span>
                        </label>
                    </div>      
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="date" name="date" class="custom-control-input" [ngModel]="section?.date">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'section_has_date' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="tags" name="tags" class="custom-control-input" [ngModel]="section?.tags">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'section_has_tags' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" id="sort" name="sort" class="custom-control-input" [ngModel]="section?.tags">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'section_has_sort' | translate }}</span>
                        </label>
                    </div> 
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>{{ 'save' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
    </div>