<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
              <i class="material-icons">tonality</i>
              <strong>{{ 'aliases_of_products' | translate }}</strong>
          </div>
          <div class="card-body">
            <a class="btn btn-sm btn-success" routerLink="/admin/sale/modify-alias">{{'add_new_alias' | translate }}</a>
            <a class="btn btn-sm btn-primary">{{ 'download_sheet' | translate }}</a>
            <table class="table mdl-data-table">
            <thead>
                <tr>
                  <th>Symbol</th>
                  <th>{{ 'manufacturer' | translate }}</th>
                  <th>{{ 'product_name' | translate }}</th>
                  <th>{{ 'product_base' | translate }}</th>
                  <th>{{ 'price' | translate }}</th>
                  <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr #productRow>
                    <td>hero</td>
                    <td>hero man</td>
                    <td>product</td>
                    <td>base product</td>
                    <td>9.99</td>
                    <td class="center actions">
                        <a class="btn btn-sm btn-primary" [routerLink]="['/admin/sale/modify-alias', 1]">{{ 'edit' | translate }}</a>
                        <button class="btn btn-sm btn-danger">{{ 'remove' | translate }}</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
      </div>
  </div>
</div>