@import './assets/sass/variables.scss';
@import './assets/sass/mixins.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//dialog cmpt--start
.dialog-message-cmpt{
    .type{
        padding: 40px;
        min-height: 100px;
        text-align: center;
        min-width: 400px;
        color: $white;
    }
    .material-icons{
        font-size: 35px;
    }
    @include status_colors;
}
//dialog cmpt--end

//dialog-confirm --start
.dialog_confirm_wrapper{
    padding: 40px;
}

//product-status msg --start
.product-status-msg{
        position: absolute;
        border: 0;
        bottom: 100px;
        right: 25px;
        color: #fff; 
        -webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
        opacity: 1;
        .type{
            padding: 20px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
        }
        @include status_colors;
}


snack-bar-container {
    &.errorSnackBar, &.successSnackBar {
        height: auto; 
        min-width: initial;
    }

    &.success {
        background: $success;
    }   
 
    &.info {        
        background: $primary
    }

    &.warning {        
        background: $warning;
    }

    &.alert {        
        background: $alert;
    }
 
    .mat-simple-snackbar .mat-simple-snackbar-message {
        white-space: normal; 
        font-size: 16px;
        font-weight: bold;
    }
}

.custom-control-description{
    @include cursor-pointer;
}

.dropdown-menu-toggle{
    margin-right: 40px;
    .dropdown-header{
        background-color: #ddd;
        color: #212b31;
    }
}


//components
@import './assets/sass/components/components.scss';
//elements
@import './assets/sass/elements/elements.scss';
//utilities
@import './assets/sass/utilities/utilities.scss';