<div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-header">
                <i class="material-icons">find_in_page</i>
                <strong>{{ 'event_log' | translate }}</strong>
            </div>
            <div class="card-body">
                <table class="table mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'occurrence_date' | translate }}</th>
                        <th>Adres IP</th>
                        <th>{{ 'event_name' | translate }}</th>
                        <th>{{ 'event_description' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>2017-08-03 11:42:21</td>
                                <td>94.254.165.7</td>
                                <td>hero</td>
                                <td>hero</td>
                            </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>