<div class="home_cmpt">
    <div class="home_header">
        <p>Angular 4 with Mercatum B2B.</p>
        <img src="assets/images/angular_logo.png" width="400" height="400"  alt="angular-logo"> + <img src="assets/images/mercatum_logo.png" width="300" height="310" style="margin-left: 3%;" alt="mercatum-logo">
    </div>
</div>