<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="material-icons">collections_bookmark</i>
            <strong>{{ 'products' | translate }}</strong>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-lg-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{ 'search' | translate }}" (keyup)="searchListener(search.value, $event.keyCode)" #search>
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button" (click)="searchListener(search.value, 13)"><i class="material-icons">search</i></button>
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                    <ul class="pagination">
                        <li class="page-item active" *ngIf="firstPage">
                            <a (click)="setPage(1)" class="page-link">1</a>
                          </li>
                        <li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}">
                          <a (click)="setPage(page)" class="page-link">{{page}}</a>
                        </li>
                        <li class="page-item active" *ngIf="currentPage != lastPage && (currentPage + 10) < lastPage">
                            <a (click)="setPage(lastPage)" class="page-link">{{lastPage}}</a>
                          </li>
                      </ul>
                </div>
          </div>
            <table class="table mdl-data-table">
                <thead>
                    <tr>
                      <th>{{ 'image' | translate }}</th>
                      <th>Symbol</th>
                      <th>{{ 'name' | translate }}</th>
                      <th class="sort" (click)="sort('retailPrice')" sortToggle>{{ 'retail_price' | translate }}<i class="material-icons">keyboard_arrow_down</i></th>
                      <th class="sort" (click)="sort('priceNetto')" sortToggle>{{ 'netto_price' | translate }}<i class="material-icons">keyboard_arrow_down</i></th>
                      <th class="sort" (click)="sort('priceBrutto')" sortToggle>{{ 'brutto_price' | translate }}<i class="material-icons">keyboard_arrow_down</i></th>
                      <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products" #productRow>
                    <!--<tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products; trackBy">-->
                      <!--<td><img src="../../../assets/images/products/{{product.image}}.jpg" width="100" class="product_image_preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>-->
                      <td><img src="../../../assets/images/angular_logo.png" width="50" height="50" class="product_image_preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>
                      <td>{{product.symbol}}<span class="data-property">symbol</span></td>
                      <td class="product_name"><a class="r_link" [routerLink]="['/customer/product', product.productID]" mdTooltip="moze opis skrocony tutaj?">{{product.name}}</a><span class="data-property">{{ 'name' | translate }}</span></td>
                      <td class="product_retail_price">{{product.retailPrice}} zł <span class="data-property">{{ 'retail_price' | translate }}</span></td>
                      <td class="product_price_netto">{{product.priceNetto}} zł<span class="data-property">{{ 'netto_price' | translate }}</span></td>
                      <td class="product_price_brutto">{{product.priceBrutto}} zł<span class="data-property">{{ 'brutto_price' | translate }}</span></td>
                      <td class="center actions">
                        <button class="btn btn-success" [ngClass]="product.sale ? 'btn-success' : 'btn-outline-secondary'" (click)="changeProductStatus(product.productID, 'sale')">{{ 'sale' | translate }}</button>
                        <button class="btn btn-danger" [ngClass]="product.promo ? 'btn-danger' : 'btn-outline-secondary'" (click)="changeProductStatus(product.productID, 'promo')">{{ 'promotion' | translate }}</button>
                        <button class="btn btn-primary" [ngClass]="product.pnew ? 'btn-primary' : 'btn-outline-secondary'" (click)="changeProductStatus(product.productID, 'new')">{{ 'newest' | translate }}</button>
                        <span class="data-property"><i class="material-icons">details</i></span>
                      </td>
                    </tr>
                  </tbody>
            </table>
        </div>
        </div>
    </div>
</div>