// footer --start
.mdl-mega-footer{
    width: 100%;
    position: absolute;
    background-color: #212121;
    text-align: center;
    color: $white;
    .copyright-info{
        p{
            font-size: 10px;
            color: $light-grey;
        }
    }
    .about-info{
        text-align: right;
        margin-right: 50px;
        margin-top: 15px;
        a{
            color: $light-grey;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}