client-header{
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
    background-color: $white;
}

.client_header{
    border-bottom: 1px solid #ccc;
}

.mail_news{
    position: relative;
    .unread_news_count{
        height: 20px;
        width: 20px;
        background-color: #f00;
        border-radius: 50%;
        position: absolute;
        font-size: 12px;
        line-height: 20px;
        margin-top: 15px;
        color: #fff;
        text-align: center;
        position: absolute;
        top: -12px;
        right: 5px;
    }
}