body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p,span,a, th, td{
    @include ubuntu;
}

.refresh{
    -webkit-animation: spin 2s infinite linear;
    font-size: 35px;
}
@-webkit-keyframes refresh{
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

.toggle_menu{
    cursor: pointer;
    user-select: none;
}

.app_body{
    transition: all 0.4s;
    margin-left: 0;
}

.app_body.sideber_hidden{
    margin-left: -200px;
    transition: all 0.4s;
}

.navbar_right{
    .nav-item{
        padding: 10px 22px;
    }
}

.app_body{
    margin-top: 55px;
}

main{
    padding: 20px;
    min-height: 899px;
    transition: all 0.3s;
    margin-left: 200px;
}

@media(min-width: 480px){
    main.sidebar_visible{
        margin-left: 208px;
    }
}