.sidebar{
    position: fixed;
    z-index: 1019;
    width: 200px;
    // height: calc(100vh - 55px);
    height: 100%;
    .sidebar-nav{
        height: 100%;
        position: relative;
        -ms-flex: 1;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: 200px;
        background-color: #29363d;
        >ul{
            padding-top: 25px;
        }
        ul.show{
            .nav-item{
                transition: background .3s ease-in-out;
                a{
                    background-color: #212b31;
                }
                a:hover{
                    background-color: #20a8d8;
                }
            }
        }
    }
    .nav{
        width: 200px;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100%;
        .nav-item{
            position: relative;
            margin: 0;
            transition: background .3s ease-in-out;
            padding: 0;
            a{
                color: #fff;
                display: inline-block;
                width: 100%;
                padding: 10px;
                font-size: 14px;
                text-decoration: none;
                i:not(.toggle-menu-chevron){
                    display: inline-block;
                    width: 20px;
                    margin: 0 0.5rem 0 0;
                    font-size: 14px;
                    color: #536c79;
                    text-align: center;
                    transition: all 1s ease-out;
                }
            }
            a:hover{
                background-color: #20a8d8;
            }
            ul{
                padding: 0;
            }
        }
        .nav-title{
            padding: 0.75rem 1rem;
            font-size: 11px;
            font-weight: 600;
            color: #c2cfd6;
            text-transform: uppercase;
            color: #fff;
        }
    }
}

.sidebar_toggler{
    -webkit-appearance: button;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 25px;
    display: block;
    margin-top: 8px;
    margin-right: 10px;
}

.nav-link.active{
    background-color: #33444c !important;
}

i.toggle-menu-chevron{
    right: 15px;
    position: absolute;
    color: $light-grey;
    font-size: 18px;
    line-height: 25px;
}