.mdl-data-table{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    width: 100%;
    thead{
        padding-bottom: 3px;
    }

    th{
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        height: 48px;
        font-size: 12px;
        padding-bottom: 8px;
        box-sizing: border-box;
        text-align: left;
        padding: 5px 5px;
    }
    .center{
        text-align: center;
    }

    tbody{
        tr{
            position: relative;
            height: 48px;
            transition-duration: .28s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-property: background-color;
        }
        td{
            position: relative;
            height: 48px;
            border-top: 1px solid rgba(0,0,0,.12);
            border-bottom: 1px solid rgba(0,0,0,.12);
            padding: 12px 5px;
            box-sizing: border-box;
            vertical-align: middle;
            text-align: left;
        }
    }
    a{
        text-decoration: none;
        transition: all 0.5s;
    }
}


@media(max-width: 769px){
    .mdl-data-table{
        th{
            display: none;
        }
        tr{
            margin-top: 20px;
            display: inline;
        }
        tbody,td{
            display:block;
        }
        tbody{
            td{
                .mat-input-container{
                    widows: 100%;
                }
            }
            td.actions{
                margin-bottom: 20px;
            }
        }
        .data-property{
            text-transform: uppercase;
            position: absolute;
            right: 0;
            border: 0;
            bottom: 0;
            bottom: 5px;
            color: #ccc;
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

@media(min-width: 769px){
    .mdl-data-table{
        .data-property{
            display: none;
        }
    }
}
