

// colors

$white:                                     #fff;
$black:                                     #000;
$alert:                                     #e23237;
$success:                                   #4caf50;
$primary:                                   #146dc5;
$warning:                                   #ff9800;
$light-grey:                                #ccc;